# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

\#*\#
.\#*
# Server log files
*.log
test/www/big.txt
test/www/big2.txt
test/www/med.txt
test/www/huge.bin
test/www/up.bin
test/www/h3big.bin
test/www/h3big2.bin
test/www/h3big3.bin
test/www/h3big4.bin
test/www/linnea.png
test/www/h3s*.bin
